<!-- SINGLEPANEL TEMPLATE -->
{% macro singlepanel(page_data) %}
{% if page_data.evenPage %}
<section id="{{page_data.id}}" class="singlepanel">
{% else %}
<section id="{{page_data.id}}" class="singlepanel bg-page-gray">
{% endif %}
    <div class="container pt-5">
        {% if page_data.subsection_header != "None" %}
        <div class="row justify-content-center">
            <div class="col-md-11 mt-4">
                <p class="title-p">{{page_data.subsection_header}}</p>
            </div>
        </div>
        {% endif %}
        {% for chart, chart_parameters in page_data.charts.items() %}
        <div class="row justify-content-center mb-3">
            <div class="col-md-11 ml-4 bl-purple">
                <p class="mb-0 ff-a c-purple">{{chart_parameters.ChartNo}}</p>
                <p class="fs-20 mb-0"><b>{{chart_parameters.chart_title}}</b></p>                            
                <p><i>{{chart_parameters.chart_subtitle}}</i><br></p>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-11 mb-4">
                <img src="{{chart_parameters.panels.A.imgPath}}" class="img-chart">
            </div>
        </div>
        <div class="row justify-content-center mt-4 foot-note">
            <div class="col-md-11 mb-0">
                {% if chart_parameters.footnote != "None" %}
                <p class="reference">
                    <small>{{chart_parameters.footnote}}</small>
                </p>
                {% endif %}
                <p class="reference">
                    <small>{{chart_parameters.source}}</small>
                </p>
            </div>
        </div>
        {% endfor %}
    </div>
    {% if page_data.evenPage %}
    <div class="page-number left-number"><b>{{page_data.page}}</b> {{page_data.section_header}}</div>
    {% else %}
    <div class="page-number">{{page_data.section_header}} <b>{{page_data.page}}</b></div>
    {% endif %}
</section>
{% endmacro %}

<!-- BIPANEL TEMPLATE -->
{% macro bipanel(page_data) %}
{% if page_data.evenPage %}
<section id="{{page_data.id}}" class="bipanel">
{% else %}
<section id="{{page_data.id}}" class="bipanel bg-page-gray">
{% endif %}
    <div class="container pt-5">
        {% if page_data.subsection_header != "None" %}
        <div class="row justify-content-center">
            <div class="col-md-11 mt-4">
                <p class="title-p">{{page_data.subsection_header}}</p>
            </div>
        </div>
        {% endif %}
        {% for chart, chart_parameters in page_data.charts.items() %}
        <div class="row justify-content-center mb-3">
            <div class="col-md-11 ml-4 bl-purple">
                <p class="mb-0 ff-a c-purple">{{chart_parameters.ChartNo}}</p>
                <p class="fs-20 mb-0"><b>{{chart_parameters.chart_title}}</b></p>
                <p class="mb-2"><i>{{chart_parameters.chart_subtitle}}</i></p>
            </div>
        </div>
        {% for panel, panel_parameters in chart_parameters.panels.items() %}
        <div class="row justify-content-center">
            <div class="col-md-11 mb-5">
                <img src="{{panel_parameters.imgPath}}" class="w-85 img-chart">
            </div>
        </div>
        {% endfor %}
        <div class="row justify-content-center mb-3">
            <div class="col-md-11 mb-0">
                {% if chart_parameters.footnote != "None" %}
                <p class="reference">
                    <small>{{chart_parameters.footnote}}</small>
                </p>
                {% endif %}
                <p class="reference">
                    <small>{{chart_parameters.source}}</small>
                </p>
            </div>
        </div>
        {% endfor %}
    </div>
    {% if page_data.evenPage %}
    <div class="page-number left-number"><b>{{page_data.page}}</b> {{page_data.section_header}}</div>
    {% else %}
    <div class="page-number">{{page_data.section_header}} <b>{{page_data.page}}</b></div>
    {% endif %}
</section>
{% endmacro %}

<!-- TRIPANEL TEMPLATE -->
{% macro tripanel(page_data) %}
{% if page_data.evenPage %}
<section id="{{page_data.id}}" class="tripanel">
{% else %}
<section id="{{page_data.id}}" class="tripanel bg-page-gray">
{% endif %}
    <div class="container pt-4">
        {% if page_data.subsection_header != "None" %}
        <div class="row justify-content-center">
            <div class="col-md-11 mt-4">
                <p class="title-p">{{page_data.subsection_header}}</p>
            </div>
        </div>
        {% endif %}
        {% for chart, chart_parameters in page_data.charts.items() %}
        <div class="row justify-content-center mb-3">
            <div class="col-md-11 ml-4 bl-purple">
                <p class="mb-0 ff-a c-purple">{{chart_parameters.ChartNo}}</p>
                <p class="fs-20 mb-0"><b>{{chart_parameters.chart_title}}</b></p>
                <p class="mb-2"><i>{{chart_parameters.chart_subtitle}}</i></p>
            </div>
        </div>
        {% for panel, panel_parameters in chart_parameters.panels.items() %}
        <div class="row justify-content-center mt-4">
            <div class="col-md-11">
                <p class="mb-0"><b><span class="lateral-bar">|</span> {{panel_parameters.panel_title}}</b></p>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-11 mb-2">
                <img src="{{panel_parameters.imgPath}}" class="img-chart">
            </div>
        </div>
        {% endfor %}
        <div class="row justify-content-center mt-4 foot-note">
            <div class="col-md-11 mb-0">
                {% if chart_parameters.footnote != "None" %}
                <p class="reference">
                    <small>{{chart_parameters.footnote}}</small>
                </p>
                {% endif %}
                <p class="reference">
                    <small>{{chart_parameters.source}}</small>
                </p>
            </div>
        </div>
        {% endfor %}
    </div>
    {% if page_data.evenPage %}
    <div class="page-number left-number"><b>{{page_data.page}}</b> {{page_data.section_header}}</div>
    {% else %}
    <div class="page-number">{{page_data.section_header}} <b>{{page_data.page}}</b></div>
    {% endif %}
</section>
{% endmacro %}

<!-- QUADPANEL TEMPLATE -->
{% macro quadpanel(page_data) %}
{% if page_data.evenPage %}
<section id="{{page_data.id}}" class="quadpanel">
{% else %}
<section id="{{page_data.id}}" class="quadpanel bg-page-gray">
{% endif %}
    <div class="container pt-5">
        {% if page_data.subsection_header != "None" %}
        <div class="row justify-content-center">
            <div class="col-md-11 mt-4">
                <p class="title-p">{{page_data.subsection_header}}</p>
            </div>
        </div>
        {% endif %}
        {% for chart, chart_parameters in page_data.charts.items() %}
        <div class="row justify-content-center mb-3">
            <div class="col-md-11 ml-4 bl-purple">
                <p class="mb-0 ff-a c-purple">{{chart_parameters.ChartNo}}</p>
                <p class="fs-20 mb-0"><b>{{chart_parameters.chart_title}}</b></p>
                <p class="mb-2"><i>{{chart_parameters.chart_subtitle}}</i></p>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-11">
                <div class="row">
                    {% for panel, panel_parameters in chart_parameters.panels.items() %}
                    <div class="col-md-6 mb-5">
                        <p class="mb-4"><b><span class="lateral-bar">|</span> {{panel_parameters.panel_title}}</b></p>
                        <img src="{{panel_parameters.imgPath}}" class="img-chart size-custom-figure12d">
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="row justify-content-center mt-4 foot-note">
            <div class="col-md-11 mb-0">
                {% if chart_parameters.footnote != "None" %}
                <p class="reference">
                    <small>{{chart_parameters.footnote}}</small>
                </p>
                {% endif %}
                <p class="reference">
                    <small>{{chart_parameters.source}}</small>
                </p>
            </div>
        </div>
        {% endfor %}
    </div>
    {% if page_data.evenPage %}
    <div class="page-number left-number"><b>{{page_data.page}}</b> {{page_data.section_header}}</div>
    {% else %}
    <div class="page-number">{{page_data.section_header}} <b>{{page_data.page}}</b></div>
    {% endif %}
</section>
{% endmacro %}